<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>
	
	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<span>User Account</span>
				</h2>
				<hr style="margin-top: -13px;" />
			</div>
			<div class="col-xs-4">
				<img src="/images/bookstoreLogo.jpg" class="img-responsive" />
			</div>
		</div>
		<img src="/images/wood.png" class="img-responsive" />

		<div class="row" style="margin-top: 10px;">
			<div class="col-xs-9 col-xs-offset-3">
				<h5>Bad Request. The request path is invalid. Click <a th:href="@{/}">here</a> to return to the home page.</h5>
			</div>
		</div>
	</div>

	<div th:replace="common/header :: footer"></div>
	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
