<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
					
				<div class="panel panel-info">
					<div class="panel-heading">Shipping Information</div>
					
					<div class="panel-body">
						<ol class="breadcrumb">
							<li class="breadcrumb-item active"><a th:href="@{/listShippingAddress}" >List Shipping Addresses</a></li>
							<li class="breadcrumb-item active"><a th:href="@{/addShippingAddress}">Add/Update Shipping Address</a></li>
						</ol>
						
						<div class="tab-content ">
							<div th:if="${listShippingAddress}">
				          		
				          		<form th:action="@{/setDefaultShippingAddress}" method="post">
									<table class="table">
										<thead>
											<tr>
												<th>Default</th>
												<th>Shipping Address</th>
												<th>Operations</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="userShipping : ${userShippingList}">
												<td>
													<input type="radio"
													name="defaultShippingAddressId"
													th:value="${userShipping.id}"
													th:checked="${userShipping.userShippingDefault}" /> <span
													th:text="${userShipping.userShippingName}"></span></td>
												<td
													th:text="${userShipping.userShippingStreet1}+', '+${userShipping.userShippingCity}+', '+${userShipping.userShippingState}"></td>
												<td>
													<a th:href="@{/updateShippingAddress(id=${userShipping.id})}">
														<i class="fa fa-pencil"> Edit</i>
													</a>
													
													&nbsp;&nbsp;
													
													<a th:href="@{/removeUserShipping(id=${userShipping.id})}">
														<i class="fa fa-times"> Delete</i>
													</a>
												</td>
											</tr>
										</tbody>
									</table>
									<button type="submit" class="btn btn-primary">Save</button>
								</form>
				          		
							</div>
							
							<div th:if="${addShippingAddress}">
				          	
				          		<form th:action="@{/addShippingAddress}" method="post">
									<input type="hidden" name="id" th:value="${userShipping.id}" />

									<!-- Shipping Address -->
									<input type="hidden" name="userShippingDefault" th:value="${userShipping.userShippingDefault}" />
									<hr />
									<div class="form-group">
										<h4>Shipping Address</h4>
									</div>
									<div class="form-group">
										<label for="shippingName">* Name</label> 
										<input type="text" class="form-control" id="shippingName"
											placeholder="Receiver Name" th:name="userShippingName"
											required="required"
											th:value="${userShipping.userShippingName}" />
									</div>
									<div class="form-group">
										<label for="shippingAddress">* Street Address</label> 
										<input type="text" class="form-control" id="shippingAddress"
											placeholder="Street Address 1"
											th:name="userShippingStreet1" required="required"
											th:value="${userShipping.userShippingStreet1}" /> 
											<br/>
										<input type="text" class="form-control"
											placeholder="Street Address 2"
											th:name="userShippingStreet2"
											th:value="${userShipping.userShippingStreet2}" />
									</div>
									<div class="row">
										<div class="col-xs-3">
											<div class="form-group">
												<label for="shippingCity">* City</label> 
												<input type="text" class="form-control" id="shippingCity"
													placeholder="Shipping City" th:name="userShippingCity"
													required="required"
													th:value="${userShipping.userShippingCity}" />
											</div>
										</div>
										<div class="col-xs-3">
											<div class="form-group">
												<label for="shippingProvince">* Province</label> 
												<select id="shippingProvince" class="form-control"
													th:name="userShippingState"
													th:value="${userShipping.userShippingState}"
													required="required">
													<option value="" disabled="disabled">Select an option</option>
													<option th:each="province : ${provinceList}" th:text="${province}"
														th:selected="(${userShipping.userShippingState}==${province})"></option>
												</select>
											</div>
										</div>
										<div class="col-xs-3">
											<div class="form-group">
												<label for="shippingZipcode">* Zipcode</label> 
												<input type="text" class="form-control" id="shippingZipcode"
													placeholder="Shipping Zipcode"
													th:name="userShippingZipcode" required="required"
													th:value="${userShipping.userShippingZipcode}" />
											</div>
										</div>
										<div class="col-xs-3">
											<div class="form-group">
												<label for="shippingCountry">* Country</label> 
												<select id="shippingCountry" class="form-control"
													th:name="userShippingCountry"
													th:value="${userShipping.userShippingCountry}"
													required="required">
													<option value="Canada">Canada</option>
												</select>
											</div>
										</div>
									</div>

									<hr />
									<button type="submit" class="btn btn-primary btn-lg">Save All</button>
								</form>
				          	
				          	</div>
						</div>
					</div>
					
				</div>
					
			</div>
		</div>
	</div>

	<div th:replace="common/header :: footer"></div>
	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
