<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal" th:action="@{/book/updateBook}" method="POST" enctype="multipart/form-data">
					
					<div class="panel panel-info">
						<div class="panel-heading">Update Book Information</div>
						
						<div class="panel-body">
							
							<input type="hidden" name="id" th:value="${book.id}" />
							
					        <!-- title -->
					        <div class="form-group">
						        <label for="title" class="col-md-3 control-label">* Title</label>
								<div class="col-md-6">
									<input type="text" name="title" class="form-control" id="title"
										th:value="${book.title}" required="required" placeholder="Title" />
									<span class="help-block">Title of the book</span>
								</div>
							</div>
							
							<!-- author -->
							<div class="form-group">
								<label for="author" class="col-md-3 control-label">* Author</label>
								<div class="col-md-6">
									<input type="text" name="author" class="form-control" id="author"
										th:value="${book.author}" required="required" placeholder="Author" />
									<span class="help-block">Author of the book</span>
								</div>
							</div>
							
							<!-- publisher -->
							<div class="form-group">
								<label for="publisher" class="col-md-3 control-label">Publisher</label>
								<div class="col-md-6">
									<input type="text" name="publisher" class="form-control" id="title" 
										th:value="${book.publisher}" placeholder="Publisher" />
									<span class="help-block">Publisher of the book</span>
								</div>
							</div>
							
							<!-- publication date -->
							<div class="form-group">
								<label for="publicationDate" class="col-md-3 control-label">Publication Date</label>
								<div class="col-md-6">
									<input name="publicationDate" type="date" class="form-control" id="publicationDate" 
										th:value="${book.publicationDate}" placeholder="Publication Date" />
									<span class="help-block">Publication date of the book</span>
								</div>
							</div>
							
							<!-- Language -->
							<div class="form-group">
								<label for="language" class="col-md-3 control-label">Language</label>
								<div class="col-md-6">
									<select th:value="${book.language}" id="language" name="language" class="form-control">
										<option value="english">English</option>
										<option value="french">French</option>
										<option value="spanish">Spanish</option>
									</select>
								</div>
							</div>
							
							<!-- Category -->
							<div class="form-group">
								<label for="category" class="col-md-3 control-label">* Category</label>
								<div class="col-md-6">
									<select th:value="${book.category}" id="category" name="category" class="form-control">
										<option value="" selected="selected" disabled="disabled">Please select an option</option>
										<option value="Management"
											th:selected="(${book.category}=='Management')">Management</option>
										<option value="Fiction"
											th:selected="(${book.category}=='Fiction')">Fiction</option>
										<option value="Engineering"
											th:selected="(${book.category}=='Engineering')">Engineering</option>
										<option value="Programming"
											th:selected="(${book.category}=='Programming')">Programming</option>
										<option value="Arts &amp; Literature"
											th:selected="(${book.category}=='Arts &amp; Literature')">Arts &amp; Literature</option>
									</select>
								</div>
							</div>
							
							<!-- number of pages -->
							<div class="form-group">
								<label for="pageNumber" class="col-md-3 control-label">Pages</label>
								<div class="col-md-6">
									<input type="number" name="numberOfPages" class="form-control" id="pageNumber"
										th:value="${book.numberOfPages}" placeholder="Number of Pages" /> 
									<span class="help-block">Number of pages in the book</span>
								</div>
							</div>
							
							<!-- format -->
							<div class="form-group">
								<label for="format" class="col-md-3 control-label">Format</label>
								<div class="col-md-6">
									<select th:value="${book.format}" id="format" name="format" class="form-control">
										<option value="paperback">Paperback</option>
										<option value="hardcover">Hardcover</option>
									</select>
								</div>
							</div>
							
							<!-- ISBN -->
							<div class="form-group">
								<label for="isbn" class="col-md-3 control-label">ISBN</label>
								<div class="col-md-6">
									<input type="text" name="isbn" class="form-control" id="isbn"
										th:value="${book.isbn}" placeholder="ISBN" />
									<span class="help-block">ISBN of the book</span>
								</div>
							</div>
							
							<!-- shipping weight -->
							<div class="form-group">
								<label for="shippingWeight" class="col-md-3 control-label">Shipping Weight</label>
								<div class="col-md-6">
									<div class="input-group">
										<input type="number" step="0.01" class="form-control" id="shippingWeight" name="shippingWeight"
											th:value="${book.shippingWeight}" placeholder="Shipping Weight" />
										<span class="input-group-addon">Ounces</span>
									</div>
								</div>
							</div>
							
							<!-- list price -->
							<div class="form-group">
								<label for="listPrice" class="col-md-3 control-label">List Price</label>
								<div class="col-md-6">
									<div class="input-group">
										<span class="input-group-addon">$</span> 
										<input type="number" step="0.01" class="form-control" id="listPrice" name="listPrice" 
											th:value="${book.listPrice}" placeholder="List Price" />
									</div>
								</div>
							</div>
							
							<!-- our price -->
							<div class="form-group">
								<label for="ourPrice" class="col-md-3 control-label">Our Price</label>
								<div class="col-md-6">
									<div class="input-group">
										<span class="input-group-addon">$</span>
										<input type="number" step="0.01" class="form-control" id="ourPrice" name="ourPrice"
											th:value="${book.ourPrice}" placeholder="Our Price" />
									</div>
								</div>
							</div>
							
							<!-- in stock number -->
							<div class="form-group">
								<label for="inStockNumber" class="col-md-3 control-label">Number in Stock</label>
								<div class="col-md-6">
									<div class="input-group">
										<input type="number" class="form-control" id="inStockNumber" name="inStockNumber" 
											th:value="${book.inStockNumber}" placeholder="Number in Stock" />
										<span class="help-block">Number of copies in stock</span>
									</div>
								</div>
							</div>
							
							<!-- book status -->
							<div class="form-group">
								<label for="status" class="col-md-3 control-label">Status of the book</label>
								<div class="col-md-6">
									<div class="input-group">
										<label> <input type="radio" name="active" value="true" checked="checked" /> Active </label> 
										<br />
										<label> <input type="radio" name="inactive" value="false" /> Inactive </label>
										<span class="help-block">Select whether the book is active or inactive</span>
									</div>
								</div>
							</div>
							
							<!-- Description -->
							<div class="form-group">
								<label for="description" class="col-md-3 control-label">Description</label>
								<div class="col-md-6">
									<textarea name="description" rows="5" class="form-control" id="description" 
										th:value="${book.description}" placeholder="Description"></textarea>
									<span class="help-block">Description of the book</span>
								</div>
							</div>
							
							<!-- Upload Image -->
							<div class="form-group">
								<label for="bookImage" class="col-md-3 control-label">Upload book image</label>
								<div class="col-md-6">
									<input id="bookImage" type="file" name="bookImage"
										th:value="${book.bookImage}" />
								</div>
							</div>
		
							<div class="form-group">
								<div class="col-md-3"></div>
								<div class="col-md-6">
									<button type="submit" class="btn btn-success">Update Book</button>
									<a class="btn btn-danger" th:href="@{/}">Cancel</a>
								</div>
							</div>
							
						</div>
					</div>
								
				</form>
			</div>
		</div>
	</div>

	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
